<div class="posts">
    <div class = "post-type-selector">
        <button class="post-type-button" id="All">All</button>
        <button class="post-type-button" id="Articles">Articles</button>
        <button class="post-type-button" id="Images">Images</button>
        <button class="post-type-button" id="Videos">Videos</button>
    </div>
    <div class="posts-middle">
        <div class="posts-separator"></div>
        <div class="sorter">
            <label>Sort by:</label>
            <select class="sort-by">
                <option value="recent">Recent</option>
                <option value="top">Top</option>
            </select>
        </div>
    </div>
    <div class="posts-suggestions-container">
    <div class="posts-main">
        <h1>No Posts Yet</h1>
    </div>
    <div class="suggestions">
        <h1>Suggestions:</h1>
        <div class="suggestions-separator"></div>
    </div>
    </div>
</div>
</div>