  <div class="nav-wrapper">
      <div class="sidenav">
          {% include 'components/nav_components/logo.html' %}

          {% include 'components/nav_components/profile_dropdown_side.html' %}
          {% include 'components/nav_components/home.html' %}
          {% include 'components/nav_components/feed.html' %}
          {% include 'components/nav_components/notifications.html' %}
          {% include 'components/nav_components/chats.html' %}
          {% include 'components/nav_components/users.html' %}
          {% include 'components/nav_components/location.html' %}
          <div class="low-end"> 
            {% include 'components/nav_components/dropdown_search.html' %}
          </div>
      </div>
  </div>