<div class="topnav">
    <div class="nav-left">
  
        {% include 'components/nav_components/profile_dropdown_top.html' %}
        {% include 'components/nav_components/home.html' %}
        {% include 'components/nav_components/location.html' %}
    </div>

    {% include 'components/nav_components/logo.html' %}
    <div class="nav-right">
        {% include 'components/nav_components/feed.html' %}
        {% include 'components/nav_components/notifications.html' %}
        {% include 'components/nav_components/users.html' %}
        {% include 'components/nav_components/chats.html' %}
        {% include 'components/nav_components/search.html' %}
    </div>
  </div>
  