<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}">
    <script src="https://kit.fontawesome.com/250db9a87f.js" crossorigin="anonymous"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body>
    <div class="topnav">
        <a href="/auth/login"><i class="fa-solid fa-user rounded"></i> Register / Log in</a>
        <h1 class="logo">kAI</h1>
        <i class="fa-solid fa-house"></i>
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-comments"></i>
        <i class="fa-solid fa-users"></i>
        <i class="fa-solid fa-location-dot"></i>
        <div id="search"><i class="fa-solid fa-magnifying-glass"></i><input type="text" placeholder="Search.."></div>
    </div>
    <div class="main-body">
        <div class="left-bar">
            <div class="left-bar-upper">
                <div class="profile-box">
                    <div class="user-main">
                        <div class="profile-pic"><img src="{{ url_for('static', filename='media/pfp.jpg')}}"></div>
                        <hl class="username">@WHeisenberg</hl>
                    </div>
                    <div class="text-info-stats">
                        <p>AI matches: ###</p>
                        <p>Profession</p>
                    </div>
                    <div class="text-info-personal">
                        <span>Location</span>
                        <span>+00 000 000 000</span>
                    </div>
                </div>
            </div>
            <div class="communities">
                <div class="left-bar-lower">
                    <div class="community-box">
                        <div class="community-sign">
                            <div class="community-logo"><img src="{{ url_for('static', filename='media/pfp.jpg')}}"></div>
                            <hl class="community-name">Communities</hl>
                        </div>
                        <div class="community-groups">
                            <div class="community-group-logo"><img src="{{ url_for('static', filename='media/pfp.jpg')}}"></div>
                            <hl class="group-name">Community A</hl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-feed"></div>
    </div>

</html>