<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notifications.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Major Mono Display' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/250db9a87f.js" crossorigin="anonymous"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
<body>
    {% if current_user.is_authenticated %}
        {% include 'components/topnav_logged_in.html' %}
    {% else %}
        {% include 'components/topnav_logged_out.html' %}
    {% endif %}
    <div class="site-main homepage">
        <div class = "container job-board">
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
            <div class = "posting"></div>
        </div>
    </div>
    {% include 'components/footer.html' %}

</body>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/notifications.js') }}"></script>

</html>
