<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/side-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/experience-tab.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/suggestions.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Major Mono Display' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/250db9a87f.js" crossorigin="anonymous"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
<body>
    {% include 'components/sidenav.html' %}
    <div class="main-body">
        <div class="header">
            <div class="profile-container">
                <div class="profile-info">
                    <div class="profile-pic"><img src="{{ url_for('static', filename='media/default/pfp.jpg')}}"></div>
                    <div class="text-info">
                        <div class="text-info-1">
                            <h1 class="name">{{ session.get('user_name', 'Default Name') }}</h1>
                            <p class = "email">{{ session.get('user_email', 'Default email') }}</p>
                        </div>
                        <div class="text-info-2">
                            <div class = "stats">
                                <span>followers: ###</span>
                                <span>AI matches: ###</span>
                            </div>
                        </div>
                        <div class="profession">Chemist</div>
                        <div class="text-info-3">
                            <div class="location"> Albaqurqe, TX, USA</div>
                            <div class="number">+00 000 000 000</div>
                        </div>
                    </div>
                </div>
                <button class="follow-button">Follow</button>
                <div class="profile-actions">
                    <button class="edit-profile">Edit Profile</button>
                    <i class="fa-solid fa-gear settings"></i>
                </div>
            </div>
            <div class="buttons">
            </div>
            <div class="bio-wrapper">
                <div class="bio-section">
                    <p class="languages"><strong>English | German | Georgian</strong></p>
                    <p class="bio">bio: JobSeekAI is an AI-driven job matching platform designed to help users find their ideal job by analyzing their profiles...</p>
                </div>
                <div class="cv-pdf"><h1>CV / Resume PDF</h1></div>
            </div>
        </div>
        <div class="experience-block">
            <div class="experience-tab" id="work-experience" style="display: flex;">Work Experience</div>
            <div class="experience-tab-expanded" id="work-experience-expanded" style="display: none;">
                <div class="tittle">Work Experience:</div>
                <div class="experience-list">
                    <div class="experience-entery"></div>
                    <div class="experience-entery"></div>
                    <div class="experience-entery"></div>
                    <div class="experience-entery"></div>
                    <div class="experience-entery"></div>
                    <div class="experience-entery"></div>
                    <div class="experience-entery"></div>
                    <div class="experience-entery"></div>
                </div>
            </div>
            <div class="experience-tab" id="projects">Projects</div>
            <div class="experience-tab-expanded" id="projects-expanded" style="display: none;">
                <div class="tittle">Projects expanded</div>
                <div class="projects-list">
                    <div class="projects-entery"></div>
                    <div class="projects-entery"></div>
                    <div class="projects-entery"></div>
                    <div class="projects-entery"></div>
                    <div class="projects-entery"></div>
                </div>
            </div>
            <div class="experience-tab" id="eudcation">Eudcation</div>
            <div class="experience-tab-expanded" id="eudcation-expanded" style="display: none;">
                <div class="tittle">Eudcation:</div>
                <div class="education-list">
                    <div class="education-entery"></div>
                    <div class="education-entery"></div>
                    <div class="education-entery"></div>
                    <div class="education-entery"></div>
                </div>
            
            </div>
            <div class="inner-block">
                <div class="experience-tab inner" id="skills">Skills</div>
                <div class="experience-tab-expanded inner" id="skills-expanded" style="display: none;">
                    <div class="tittle">Skills:</div>
                    <div class="skills-list">
                        <div class="skills-entery"></div>
                        <div class="skills-entery"></div>
                        <div class="skills-entery"></div>
                        <div class="skills-entery"></div>
                        <div class="skills-entery"></div>
                        <div class="skills-entery"></div>
                        <div class="skills-entery"></div>
                        <div class="skills-entery"></div>
                    </div>
                </div>
                <div class="experience-tab inner" id="interests">Interests</div>
                <div class="experience-tab-expanded inner" id="interests-expanded" style="display: none;">
                    <div class="tittle">Interests:</div>
                    <div class="interests-list">
                        <div class="interests-entery"></div>
                        <div class="interests-entery"></div>
                        <div class="interests-entery"></div>
                        <div class="interests-entery"></div>
                        <div class="interests-entery"></div>
                        <div class="interests-entery"></div>
                        <div class="interests-entery"></div>
                        <div class="interests-entery"></div>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-chevron-down drop-down"></i>
        </div>
    {% include 'components/posts.html' %}
    <div class="footer">
        <a href="">Terms of Service</a>
        <span class="divider">|</span>
        <a href="">Privacy Policy</a>
    </div>
    <script>
        expTab = document.querySelectorAll(".experience-tab");
        expTabExpanded = document.getElementsByClassName("experience-tab-expanded");
        expandButton = document.querySelector(".drop-down")
        expanded = null;
        hidden = null;
        isFullyExpanded=false;
        expTab.forEach((tab) => {
            tab.addEventListener("click", function(){
                if(isFullyExpanded)
                    return;
                if(expanded){
                    expanded.style.display="none";
                    hidden.style.display="flex";
                }
                expanded = document.getElementById(tab.id+"-expanded");
                expanded.style.display = "flex";
                tab.style.display="none";
                hidden = tab;
            });
        });
        
            expandButton.addEventListener("click", function(){
            for(i = 0; i < expTab.length; i++){
                if(!isFullyExpanded){
                    expTab[i].style.display="none";
                    expTabExpanded[i].style.display="flex";
                    expandButton.style.transform = "rotate(180deg)  scale(1.8)";
                }
                else if(isFullyExpanded){
                    expTab[i].style.display="flex";
                    expTabExpanded[i].style.display="none";
                    expandButton.style.transform = "rotate(0deg)  scale(1.8)";

                }
            }
            isFullyExpanded=!isFullyExpanded;
        });


    </script>
    <script src="{{ url_for('static', filename='js/posts.js') }}"></script>
</body>
</html>
